*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}
img{
  width: 100%;
}
.container .logo{
  width: 230px;
  margin-left: 20px;
 }
 .container{
    background-image: url("background\ img.jpg");
    background-size: cover;
    background-color:  rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
     min-height: 100vh;
}
 
  
.container .form-container {
    background-color: rgba(0,0,0,0.75);
    width: 80%;
    margin: 0 auto;
    padding: 60px 60px 60px 60px;
    max-width: 450px;
    
}
  .container .form-container h1{
    margin-bottom: 25px;
    font-size: 32px;
  }
  
  .container .form-container .primary-input,
  .container .form-container .sign-in-btn {
    padding-top: 15px;
    padding-right: 8px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: block;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 16px;
  }
  
  .container .form-container .primary-input {
    background: #333;
    border: none;
  }

  #text-input{
    padding: 15px;
    display: block;
    width: 95%;
    background-color: rgb(51,51,51);
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  #password{
    padding: 15px;
    display: block;
    width: 95%;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .container .form-container .sign-in-btn{ 
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: red;
    padding: 15px;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .help-section{ 
    font-size:13px;
    margin-bottom: 40px;

  }
  .help-section label,a {
    color: #b3b3b3;
  }
  .form-footer span{
    font-size: 16px;
    color: #737373;
  }
  .form-footer a{
    color: white;
    text-decoration: none;
  }
  .form-footer >div{
    margin-bottom: 11px;
  }
  .form-footer p{
    font-size: 13px;
    color: #8c8c8c;
  }
  .form-footer p a{
    color: blue;

  }
   .form-footer {
    margin-bottom: 60px;
   }
   .help-section{
    display: flex;
    width: 95%;
    justify-content: flex-start;
   }
   .help-section .need{
    margin-left: auto;
   }